<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale=1.0>
        <title>{{ title }} info</title>
        <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    </head>

    <body>
        <h1>{{ title }} info</h1>
        <p>{{ ability }} ability</p>
        <img src="{{ sprite }}" />
        <form action="/search">
            <input type="text" id="search" name="search" />
            <button type="submit">Search!</button>
        </form>
    </body>
<html>