<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} info</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar">
        <div class="search-container">
            <form action="/search">
                <input type="text" id="search" name="search" />
                <button type="submit">Search!</button>
            </form>
            <div id="suggestions"></div>
        </div>
    </nav>
    <div class="content">
        <div class="sprite-box">
            <img src="{{ sprite }}" alt="{{ title }}" />
        </div>
        <div class="info-container">
            <div class="name-box">
                <h1>{{ title }}</h1>
                <span class="types">
                    {% for type in types %}
                       <h2 class="type-{{ type.lower() }}"> {{ type }} </h2>
                    {% endfor %}
                </span>
            </div>
            
            <div class="stats-box">
                <h2>Abilities:</h2>
                <ul>
                    {% for ability in abilities %}
                        <li> {{ ability }} </li>
                    {% endfor %}
                </ul>
                <div class="stat-container">
                    <div class="base-stats">
                        <h3>hp: </h3>
                        <h3>atk: </h3>
                        <h3>def: </h3>
                        <h3>spa: </h3>
                        <h3>spd: </h3>
                        <h3>spe: </h3>
                    </div>
                    <div class="stat-bar">
                        {% for stat in stats %}
                            <h3>{{ stat }}</h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
</body>
</html>