<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} info</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar">
        <div class="search-container">
            <form action="/search">
                <input type="text" id="search" name="search" />
                <button type="submit">Search!</button>
            </form>
            <div id="suggestions"></div>
        </div>
    </nav>
    <div class="content">
        <div class="sprite-box">
            <img src="{{ sprite }}" alt="{{ title }}" />
        </div>
        <div class="info-container">
            <div class="name-box">
                <h1>{{ title }}</h1>
                <span class="types">
                    {% for type in types %}
                       <h2 class="type-{{ type.lower() }}"> {{ type }} </h2>
                    {% endfor %}
                </span>
            </div>
            
            <div class="stats-box">
                <h2>Abilities:</h2>
                <ul>
                    {% for ability in abilities %}
                        <li> {{ ability }} </li>
                    {% endfor %}
                </ul>
                <div class="stat-container">
                    <span class="stat-title">Base-Stats</span>
                {% for number in range(6) %}
                    <div class="stat-bar">
                        <span class="title">{{ statnames[number] }}</span>

                        <div class="defaultbar">
                            {% set stat_percent = basestats[number] / 255 * 100 %}
                            {% if stat_percent <= 10 %}
                                {% set bar_color = '#FF2727' %} 
                            {% elif stat_percent <= 20 %}
                                {% set bar_color = '#FF4949' %} 
                            {% elif stat_percent <= 30 %}
                                {% set bar_color = '#FFA935' %}
                            {% elif stat_percent <= 40 %}
                                {% set bar_color = '#FFDB57' %}
                            {% elif stat_percent <= 50 %}
                                {% set bar_color = '#9FFF45' %}
                            {% elif stat_percent <= 70 %}
                                {% set bar_color = '#5DFF2D' %}    
                            {% else %}
                                {% set bar_color = '#0FFF00' %} 
                            {% endif %}
                            
                            <span class="bar" style="width: {{ stat_percent }}%; background-color: {{ bar_color }};">
                                <span class="statnum" style="background-color: {{ bar_color }};">
                                    {{ basestats[number] }}
                                </span>
                            </span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='/js/main.js') }}"></script>
</body>
</html>