* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: gray;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* You can change the font-family as needed */
}

.navbar {
    width: 100%;
    background-color: #161616;
    color: white;
    padding: 20px 20px; 
    box-sizing: border-box; /* Ensures padding doesn't add to the total width */

}

.search-container {
    position: relative; /* Essential */
    display: inline-block; /* Adjust this based on your layout */
    width: 100%; /* Or width of the input field + button */
}

#suggestions {
    position: absolute;
    top: 100%; /* Right below the input field */
    left: 0;
    color: black;
    width: 9%; /* Assuming you want it as wide as the search-container */
    background-color: #fff; /* So it stands out against any page background */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Optional: Adds depth */
    z-index: 1; /* Ensures it's above other content */
    max-height: 300px; /* Optional: Adjust based on your needs */
    overflow-y: auto; /* For scrolling */
    border: 1px solid #ddd; /* Optional: Adds definition */
}


.content {
    display: flex;
    height: calc(100% - 48px); /* Adjust the value based on the navbar's height */
}

.sprite-box {
    flex-basis: 33.33%; /* This will give the left box one-third of the horizontal space */
    height: calc(100% - 48px); /* Height is the remainder of the screen minus the navbar */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    overflow: hidden; /* Prevents content from spilling out */
}

.sprite-box img {
    width: 80%;
    height: auto;   
}

.info-container {
    flex-basis: 66.67%; /* This will give the right container two-thirds of the horizontal space */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    height: calc(100% - 48px); /* Height is the remainder of the screen minus the navbar */
}

.name-box {
    height: 30%; /* This will give the name box half of the vertical space */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.name-box h1 {
    font-size: 72px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.stats-box {
    height: 70%; /* This will give the stats box half of the vertical space */
    color: white;
}

.stats-box h2 {
    font-weight: bold;
    font-size: 32px;
}

.stats-box ul {
    font-size: 20px;
}

/* Add responsive adjustments as needed */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .sprite-box, .name-box, .stats-box {
        flex-basis: 100%;
        height: auto; /* Allows the divs to grow based on content */
    }
}

.stat-container {
    display: flex; /* Establishes a flex container */
    align-items: flex-start; /* Aligns children to the start of the flex container */
    gap: 20px; /* Optional: adds space between the flex items */
}

.base-stats, .stat-bar {
    flex: 1; /* Gives the divs equal width within the container */
}

.types {
    display: flex;
}
.type-normal { color: #A8A77A; }
.type-fire { color: #EE8130; }
.type-water { color: #6390F0; }
.type-electric { color: #F7D02C; }
.type-grass { color: #7AC74C; }
.type-ice { color: #96D9D6; }
.type-fighting { color: #C22E28; }
.type-poison { color: #A33EA1; }
.type-ground { color: #E2BF65; }
.type-flying { color: #A98FF3; }
.type-psychic { color: #F95587; }
.type-bug { color: #A6B91A; }
.type-rock { color: #B6A136; }
.type-ghost { color: #735797; }
.type-dragon { color: #6F35FC; }
.type-dark { color: #705746; }
.type-steel { color: #B7B7CE; }
.type-fairy { color: #D685AD; }